{% extends 'base.html.twig' %}

{% block title %}Nowa lokacja{% endblock %}

{% block body %}
    <h1>Dodaj lokację</h1>

    {{ include('location/_form.html.twig') }}

    <a href="{{ path('app_location_index') }}" class="btn btn-light">Powrót</a>
{% endblock %}
