<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.min.js"></script>

        <style>
            body {
                background: url("https://placehold.co/100x100/FFFFFF/EFEFEF/png?text=49878");
            }
        </style>

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    {% if is_granted('ROLE_USER') %}
        <p><a href="{{ path('app_logout') }}">Wyloguj</a></p>
    {% else %}
        <p><a href="{{ path('app_login') }}">Zaloguj</a></p>
    {% endif %}


    {% if app.request.attributes.get('_route') == 'app_location_index' %}
        <a href="{{ path('app_forecast_index') }}">Prognozy =></a>
    {% elseif app.request.attributes.get('_route') == 'app_forecast_index' %}
        <a href="{{ path('app_location_index') }}">Lokacje =></a>
    {% endif %}

        {% block body %}{% endblock %}
    </body>
</html>
